.kana {
  height: 100%;
  font-size: 80vh;
  font-family: 'Rounded Mplus 1c';
  /* font-family: 'Mplus 1p'; */
  /* font-family: 'Nico Moji'; */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 1s;
}
